@use 'foundation/wide-button';  // includes $secondary-font-stack imported from font-stacks

.alpaca-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

// .yosemite-image {
//     width: 25rem;
//     // height: auto
// }

.username-section {
    margin-bottom: 1rem;
    input {
        width: 93%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
        width: 93%;
      }
}
.password-section {
    margin-bottom: 1rem;
    input {
        width: 93%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
        font-family: Arial, sans-serif;
        width: 93%;
      }
}

.login-button {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.signup-button {
    margin-top: 2rem;
    text-align: center;
    //   background-color: gray; /* Green */
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;

    
    button:hover {
      background-color: #3e8e41;
    }
}